.hgm-input-info{font-size:11px; color:#56727E;}
.location_list{width:99%; height:auto; border:#9CB3BC solid 1px; background: #CCD9DD;}

.remove_row{width:100px; height:25px; background:#DE5145; color:#ffffff; font-size:12px; text-align: center; line-height: 25px; cursor: pointer;}